<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="header (userName,isAdmin)">
  <p>
    <span>Вы вошли в систему под именем: </span>
    <span th:text="${userName}"></span>
    <a class="w3-btn w3-round-large w3-yellow" href="/schedule/month">Календарь</a>
    <a class="w3-btn w3-round-large w3-yellow" href="/schedule/projects">События</a>
    <a class="w3-btn w3-round-large w3-yellow" href="/schedule/myToDos">Мои Задачи</a>
    <a class="w3-btn w3-round-large w3-yellow" href="/schedule/users">Пользователи</a>
    <a class="w3-btn w3-round-large w3-yellow" href="/schedule/groups">Группы</a>
    <a class="w3-btn w3-round-large w3-yellow" href="/schedule/equipments">Оборудование</a>
    <a class="w3-btn w3-round-large w3-black" href="/logout">Выйти</a>

    <a th:if="${isAdmin}" class="w3-btn w3-round-large w3-yellow" href="/schedule/tags">Тэги</a>
    <a th:if="${isAdmin}" class="w3-btn w3-round-large w3-yellow" href="/schedule/groups">Группы</a>

  </p>
</div>

</body>

</html>



