<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>События</title>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/rbc.css">
</head>
<body>
<div class="w3-container w3-border">
  <div th:include="header ::header (userName=${userName},isAdmin=${isAdmin})">...</div>
  <p>

  <div class="w3-container rbc-dark">
    <h1>События</h1>
  </div>
  <p>




  <table border="1" class = "w3-table-all w3-bordered w3-striped w3-border test w3-hoverable">
    <thead>
    <tr>
      <label>Начало интервала поиска </label>
      <input type="date" id="start" name="start" th:attr="value=${start}"  >
      <p>
      <label>Конец интервала поиска </label>
      <input type="date" id="stop" name="stop" th:attr="value=${stop}" >
      <p>

      <input type="text" id="name" name="name" th:attr="value=${name}" placeholder="Введите сюда часть имени (если не заполнено, ищутся все имеющиеся)" class="w3-input w3-border" >

      <button id="button" class="w3-btn w3-border w3-round-large w3-yellow"> Нажмите сюда для поиска </button>
      <script>
                          button.onclick = function() {
                             window.location.href = "?name=" + document.getElementById("name").value
                                                  + "&start=" + document.getElementById("start").value
                                                  + "&stop=" + document.getElementById("stop").value;
                          };
      </script>

      <a class="w3-btn w3-border w3-round-large w3-red" href="projects" >Стереть фильтр и показать всех</a>

      <div th:if="${message} != '' " >
          <h3 class="rbc-light w3-bold" th:text="${message}" ></h3>
      </div>
      <p>

    </tr>
    <tr>
      <th>
          <span th:text="Событие  "> </span>
          <a th:if="${principal.maker}" class="w3-btn w3-teal w3-border w3-round-large w3-right" th:href="@{'/schedule/newProject'}" > Добавить событие </a>
      </th>
      <th>Список дел и результатов</th>
      <th>Тэги события</th>
      <th>Участники</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${list}">
      <td>
        <span th:text="${#temporals.format(project.start, 'dd-MM-yyyy ')}"></span><b>
        <span th:text="${project.name}"> </span></b>
        <br>
        <span th:text="${#temporals.format(project.stop, 'dd-MM-yyyy')}"></span>
        <br>
        <a th:href="@{/schedule/projectRequest/{id}(id=${project.id})}" class="w3-btn w3-red w3-border w3-round-large ">Запрос на участие</a>
        <br>
        <a th:if="${project.producer}" th:href="@{/schedule/editProject/{id}(id=${project.id})}" class="w3-btn w3-green w3-border w3-round-large ">Изменить событие</a>
      </td>
      <td>
        <a th:href="@{/schedule/todos?id={id}(id=${project.id})}" class="w3-btn w3-yellow w3-border w3-round-large ">Просмотреть/изменить</a>
        <br>
        <menu>
          <li th:each="todo : ${project.todos}">
            <span  th:text="${#temporals.format(todo.start, 'dd-MM-yyyy HH:mm')}"></span>
            <b><span  th:text="${todo.content}"></span></b>
            <br>
            <span  th:text="${#temporals.format(todo.stop, 'dd-MM-yyyy  HH:mm')}"></span>
          </li>
        </menu>
      </td>
      <td>
        <a th:if="${project.producer}" th:href="@{/schedule/projectTags/{id}(id=${project.id})}" class="w3-btn w3-yellow w3-border w3-round-large ">Изменить тэги</a>
        <br>
        <menu>
          <li th:each="tag : ${project.tags}">
            <a  th:text="${tag.name}" th:href="@{/schedule/projects?tag={id}(id=${tag.id})}">tag name</a>
          </li>
        </menu>
      </td>
      <td>
        <a th:if="${project.producer}" th:href="@{/schedule/projectRoles/{id}(id=${project.id})}" class="w3-btn w3-yellow w3-border w3-round-large ">Изменить список</a>
        <br>
        <menu>
          <li th:each="role : ${project.roleEntities}">
            <b><a th:if="${role.producer}"  th:text="${role.user.username}" th:href="@{/schedule/projects?user={name}(name=${role.user.username})}">user name</a></b>
            <a th:unless="${role.producer}"  th:text="${role.user.username}" th:href="@{/schedule/projects?user={name}(name=${role.user.username})}">user name</a>
<!--              <span th:if="${role.producer}"> (*)</span>-->
          </li>
        </menu>
      </td>
    </tr>
    </tbody>
  </table>

<!--  <div class="w3-border" th:if="${totalPages > 1}">-->
<!--    <div class="w3-container">-->
<!--      Всего записей: [[${totalItems}]]-->
<!--    </div>-->
<!--    <p>-->
<!--    <div class="w3-container w3-bar">-->
<!--                <span th:each="i: ${#numbers.sequence(1, totalPages)}">-->
<!--                    <a class="w3-button" th:if="${currentPage != i}" th:href="@{'/active/?currentPage=' + ${i}}">[[${i}]]</a>-->
<!--                    <span class="w3-button" th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;-->
<!--                </span>-->
<!--    </div>-->
<!--    <p>-->
<!--    <div class="w3-container">-->
<!--      <a class="w3-button w3-round-large" th:if="${currentPage < totalPages}" th:href="@{'/active/?currentPage=' + ${currentPage + 1}}">Следующая страница</a>-->
<!--      <a class="w3-button w3-round-large" th:if="${currentPage < totalPages}" th:href="@{'/active/?currentPage=' + ${totalPages}}">Последняя страница</a>-->
<!--    </div>-->
<!--  </div>-->





</div>
</body>
</html>