<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Задачи</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-container">

    <div th:include="header ::header (userName=${userName},isAdmin=${isAdmin})">...</div>
    <p>

    <div class="w3-container">
        <h1 th:text="'Задачи для события : ' + ${project.name}"></h1>
    </div>

    <div th:if="${project.producer}">
        <a class="w3-btn w3-teal w3-border w3-round-large" th:href="@{/schedule/newTODO?id={id}(id=${project.id})}" > Добавить задачу </a>
        <p>
    </div>

    <table border="1" class = "w3-table-all w3-bordered w3-striped w3-border test w3-hoverable">
        <thead>
        <tr>
            <th>Задачи</th>
            <th>Оборудование</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="todo : ${list}">
            <td>
                <span  th:text="${#temporals.format(todo.start, 'dd-MM-yyyy HH:mm')}"></span>
                <b><span  th:text="${todo.content}"></span></b>
                <br>
                <span  th:text="${#temporals.format(todo.stop, 'dd-MM-yyyy  HH:mm')}"></span>

                <a th:if="${project.producer}" th:href="@{/schedule/todoEdit?id={id}(id=${todo.id})}" class="w3-btn w3-green w3-border w3-round-large ">Изменить</a>

                <a th:href="@{/schedule/results?todo_id={id}(id=${todo.id})}" class="w3-btn w3-yellow w3-border w3-round-large ">Результаты</a>
                <a th:href="@{/schedule/comments?todo_id={id}(id=${todo.id})}" class="w3-btn w3-yellow w3-border w3-round-large ">Комментарии</a>

            </td>
            <td>
                <a th:if="${project.producer}" th:href="@{/schedule/todoEquipment?id={id}(id=${todo.id})}" class="w3-btn w3-yellow w3-border w3-round-large ">Изменить список оборудования</a>
                <p>
                <menu>
                    <li th:each="equip : ${todo.equipments}">
                        <span  th:text="${equip.name}"></span>
                    </li>
                </menu>
            </td>
        </tr>
        </tbody>
    </table>



</div>
</body>
</html>